

html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}


#map {
    height: 100%;
    width: 100%;
    position: relative;
}

#title {
    position: absolute;
    z-index: 100;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 10px;
    left: 50px;
    color: white;
    background-color: black;
    height:0px;
    
}

#title:hover {
    cursor: pointer;
    padding-left:15px;
    transition: 0.2s ease-in-out;

}

.countryInfo {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.info-flag {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right:5px;
}

.countryInfoContainer {
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.info-flag-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right:10px;
}

.search {
    position: absolute;
    z-index: 100;
    top: 130px;
    left: 50px;
}

#searchBar {
    background: #444449;
    border-radius: 25px;
    color: white;
    width: 220px;
    height: 45px;
    padding-left: 20px;
    font-size: 15px;
    border: none;
    font-family: monospace;
    outline: none;
}



.searchButton {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 223px;
    bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storeContainer {
    position: absolute;
    z-index: 100;
    top: 190px;
    left: 50px;
    border-radius: 30px;
    width: 240px;
    height: 485px;
    background-color:white;
}

.storeList {
    padding-left: 15px;
    padding-right: 15px;
}

.storeDetails {
    display: flex;
    border-bottom: 1px solid #777777;
}

.storeList h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-top: 20px;
    margin: 0;
    color: rgb(35, 35, 35)
}

.storeList h5 {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 35, 35);
    font-size: 20px;
    margin-bottom: 15px;
}

.fixed {
    position: absolute;
    right: 150px;
}

.storeNumber {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
    left: 145px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    font-size: 25px;
}



.button {
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    height: 30px;
    outline: none;
    background-color: #444444;
    color: whitesmoke;
    cursor: pointer;
}

.button:hover{
    color: black;
    background-color: #777779;
    transition: 0.2s ease-in-out;
    height: 40px;
    width: 40px;
}


.searchContainer i {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
}
#searchCountryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 50%;
    font-size: 20px;
}

#searchCountryButton:hover {
    background-color: white;
    color:black;
    height: 30px;
    width: 30px;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}
.dataContainer {
    position: absolute;
    z-index: 100;
    top: 190px;
    left: 300px;
    border-radius: 30px;
    width: 300px;
    height: 487px;
    background-color: white;
    overflow-y: hidden;
    display: none;

}


.data h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-top: 20px;
    margin: 0;
    color: rgb(35, 35, 35)
}

.data h5 {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 35, 35);
    font-size: 20px;
    margin-bottom: 15px;
}


.dataListContainer {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #777777;
    display:flex;
    
}

.wrap {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    
}


.data-wrap:hover {
    background-color: rgba(200,200,200, 0.8);
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}


.data {
    flex-basis: 90%;
}
.dataNumber {
    display: flex;
    flex-basis: 10%;
    background-color: #444444;
    justify-content: center;
    align-items: center;
    height:25px;
    width:25px;
    position:relative;
    top:40px;
    border-radius: 50%;
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.closeButtonContainer {
    height: 35px;
    width: 35px;
    z-index: 100;
    position: fixed;
    border-radius: 50%;
    top:180px;
    left: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.closeButton {
    width: 35px;
    height: 35px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #444444;
    color: whitesmoke;
    font-size: 18px;
}

.closeButton:hover {
    color: black;
    background-color: #777779;
    transition: 0.8ms;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.socialMediaContainer {
    position: fixed;
    bottom:10px;
    right: 80px;
    width: 150px;
}

.socialMediaInnerContainer {
    display:flex;
    font-size: 30px;
    
}


.facebook, .instagram, .github {
    margin: 10px;
}

#fb:hover {
    color:rgb(41, 87, 212);
    transition: 0.2s ease-in-out
}

#ig:hover {
    color: #A8417D;
    transition: 0.2s ease-in-out
}

#git:hover {
    color:#777777;
    transition: 0.2s ease-in-out
}

a {
    text-decoration: none;
    color: white;
}



.viewsContainer {
    position: fixed;
    z-index: 100;
    height: 40px;
    width: 300px;
    bottom: 31px;
    right: 300px;
    
}

.views {
    position: relative;
    height: 50px;
    width: 280px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444444;
    padding-left:10px;
    padding-right: 10px;
}


#cases-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    background-color:rgba(214, 4, 4, 0.8);
    text-align: center;
    height: 70%;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
#deaths-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    background-color: #555555;
    text-align: center;
    height: 70%;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-left:10px;
    padding-right: 10px;
}
#recovered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    background-color: green;
    text-align: center;
    height: 70%;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    padding-left: 2px;
    padding-right: 2px;
}
#critical-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    background-color: rgb(248, 183, 2, 0.8);
    text-align: center;
    height: 70%;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    
}

#cases-button:hover {
    background-color: rgba(214, 4, 4, 0.8);
    padding:10px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    cursor:pointer;
}

#deaths-button:hover {
    background-color: rgba(85, 85, 91, 0.8);
    padding:10px;
    border-radius: 15px;
    margin:0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#recovered-button:hover {
    background-color: rgba(0,128, 0, 0.8);
    padding:10px;
    border-radius: 15px;
    margin:0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#critical-button:hover {
    background-color: rgba(248, 183, 2, 0.8);
    padding:10px;
    border-radius: 15px;
    margin:0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}



